<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>企业管理系统</title>

	<!-- Bootstrap -->
	<link href="/static/css/bootstrap-4.0.0.css" rel="stylesheet">
	<link href="/static/css/my.css" rel="stylesheet">
</head>

<body>

	<div class="jumbotron jumbotron-fluid text-center" style="background:url(/static/12.jpg);background-size: 100% ;background-origin:border-box;opacity: 0.8;">
		<h1 class="display-diy" style="font-size: 70px;color: blank;">企业管理系统</h1>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<nav class="navbar navbar-light">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="../choose/">首页</a>
						</li>
						<br>
						<li class="nav-item">
							<a class="nav-link" href="../basic/">基本信息</a>
						</li>
						<br>
						<li class="nav-item">
							<a class="nav-link" href="../BillManage/">账单管理</a>
						</li>
						<br>
						<li class="nav-item active">
							<a class="nav-link">企业管理<span class="sr-only">(current)</span></a>
						</li>
						<br>
						<li class="nav-item">
							<a class="nav-link" onclick="logout()">退出</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-9">
				<ul id="clothingnav1" class="nav nav-tabs mb-4" role="tablist">
					<li class="nav-item"> <a class="nav-link active" href="#home1" id="hometab1" role="tab"
							data-toggle="tab" aria-controls="home" aria-expanded="true">企业状态管理</a> </li>
				</ul>
				<!-- Content Panel -->
				<div id="clothingnavcontent1" class="tab-content">
					<div role="tabpanel" class="tab-pane fade show active" id="home1" aria-labelledby="hometab1">
						<div class="container-fluid">
							<div class="row mb-4">
								<div class="col-4">
									<input type="search" id="SearchInput1" class="form-control mr-3" placeholder="请输入关键字"
										aria-describedby="basicaddon1">
								</div>
								<div class="col-4">
									<button type="button" class="btn btn-info mr-3" onclick="search_book_byName(this)">搜企业名称</button>
									<button type="button" class="btn btn-info" onclick="search_book_byISBN(this)">搜账户地址</button>
								</div>
							</div>

							<table class="table mb-4">
								<tbody id="BookTbody">
									<tr>
										<th scope="col">企业名称</th>
										<th scope="col">账户地址</th>
										<th scope="col">企业性质</th>
										<th scope="col">运营状态</th>
										<th scope="col">企业信用</th>
										<th scope="col">操作</th>
									</tr>
									{% for company in CompanyList%}
									<tr>
										<td>{{company.0}}</td>
										<td>{{company.1}}</td>
										{% if company.2 == 1 %}
											<td> 金融机构 </td>
										{% else %}
										<td> 普通企业 </td>
										{% endif %}
										{% if company.3 == 0 %}
											<td> 正常运营 </td>
										{% else %}
										<td> 破产 </td>
										{% endif %}
										<td>{{company.4}}</td>
										<td><button type="button" class="btn btn btn-primary" onclick="choose_Change(this)">修改</button></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container"> <br>
		<div class="row">
			<div class="text-center col-lg-6 offset-lg-3">
				<p>拉到最底部了 </p>
				<p>Copyright &copy; 2020 &middot; All Rights Reserved</p>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap-4.0.0.js"></script>
	<script>
		function choose_Change(obj)
		{
			var parent=obj.parentNode.parentNode;
			td=document.createElement("td");
			var sel=document.createElement("select");
			sel.setAttribute("id", parent.children[0].innerHTML+"_status")
			var opt=document.createElement("option");
			opt.setAttribute("value", 0);
			opt.innerHTML="正常运营";
			sel.appendChild(opt);
			opt=document.createElement("option");
			opt.setAttribute("value", 1);
			opt.innerHTML="破产";
			sel.appendChild(opt);
			td.appendChild(sel);
			parent.replaceChild(td, parent.children[3]);

			td=document.createElement("td");
			input=document.createElement("input");
			input.setAttribute("id", parent.children[0].innerHTML+"_credit")
			input.setAttribute("type", "number");
			input.setAttribute("min", "0");
			input.setAttribute("value", parent.children[4].innerHTML);
			input.setAttribute("name", "credit_input");
			input.setAttribute("onchange", "refresh_credit(this)");
			input.setAttribute("placeholder", "请输入当前信用");
			td.appendChild(input);
			parent.replaceChild(td, parent.children[4]);

			obj.setAttribute("class", "btn btn-warning")
			obj.setAttribute("onclick", "send_ChangeBusiness(this)");
			obj.innerHTML="确认";
		}

		function send_ChangeBusiness(obj)
		{
			var parent=obj.parentNode.parentNode;
			var sendData={};
			sendData.name=parent.children[0].innerHTML;
			sendData.address=parent.children[1].innerHTML;
			if (parent.children[2].innerHTML==" 普通企业 ")
			sendData.level=2;
			else
			sendData.level=1;
			sendData.status=$("#"+sendData.name+"_status").val();
			sendData.credit=$("#"+sendData.name+"_credit").val();
			sendData.csrfmiddlewaretoken='{{ csrf_token }}';
			$.post("sendChangeBusiness/", sendData, function(data, status){
				if (status=="success" && data.isSuss==0)
					{
						alert("修改成功！");
						location.reload();
					}
					else
					alert("修改失败！");
			});
		}

		function logout()
		{
			var sendData={};
			sendData.csrfmiddlewaretoken='{{ csrf_token }}';
			$.post("../logout/", sendData, function(data, status){
				if (status=="success" && data.isSuss==0)
				alert("退出成功！");
				else
				alert("退出失败");
				location.reload();
			});
		}
	</script>
</body>

</html>